@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600);

/* Global Styles */

html{
	overflow: hidden;
	height: 100%;
}

body{
	height: 100%;
	background-color: #262728;
	font-family: "Source Sans Pro", sans-serif;
	letter-spacing: -0.1pt;
	color: #f2faff;
	overflow: hidden;
}

a{
	color: #e04747;
	font-weight: 200;
	-webkit-transition: all .1s ease;
}

a:hover{
	color: #e06363;
	text-decoration: none;
	-webkit-transition: all .1s ease;
}

a:link{
	text-decoration: none;
}

a:visited{
	text-decoration: none;
}

h2{
	font-size: 20pt;
	line-height: 25pt;
	font-weight: 200;
}

p{
	font-size: 14pt;
	font-weight: 200;
}

.main-content{
	height: calc(100% - 100px);
	overflow: auto;
}

/* Navigation Bar (Overrides Bootstrap File) */

.navbar {
    border-radius: 0px;
}

.navbar-nav {
	text-align: center;
    padding-right: 20px;
	font-size: 14pt;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #f2faff;
    border: 2px;
} 

.nav > li {
    margin-left: 10px;
}

.navbar-inverse {
	background-color: #e04747;
	border: none;
}

.navbar-inverse .navbar-brand {
	font-weight: 400;
	font-size: 18pt;
	color: #f2faff;
}

.navbar-inverse .navbar-brand > img {
	display: inline-block;
	width: 25px; 
	height: 25px;
	margin-top: -2px;
	margin-right: 5px;
} 

.navbar-inverse .navbar-text {
	color: #f2faff;
}

.navbar-inverse .navbar-nav > li > a {
	color: #f2faff;
	-webkit-transition: all .1s ease;
}

.navbar-inverse .navbar-nav > li > a:hover {
	-webkit-transition: all .1s ease;
	color: #e0afaf;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: transparent;
} 

.navbar-inverse .navbar-toggle {
	border-color: #f2faff;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #f2faff;
}

/* User Bar */

.userbar{
	height: 30px;
	width: 100%;
	border-bottom: 1.5px solid;
	border-color: #1c1c1d;
}

.userbar ul{
	list-style-type: none;
	text-align: center;
}

.userbar ul li{
	display: inline;
	margin-right: 30px;
	color: #636568;
	font-weight: 200;
	font-size: 14pt;
	line-height: 10pt;
	position: relative;
	bottom: 5px;
}

.userbar ul li img{
	height: 24px;
	width: 24px;
	margin: 5px;
	position: relative;
	bottom: 5px;
}

.userbar ul li a{
	color: #636568;
}

.userbar ul li a:hover{
	color: #898c90;
    -webkit-transition: all .1s ease;
}


/* Top Text */

.top{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 10px;
	text-align: center;
	width: 100%;
}

/* Vote Now Button */

.round-button-container{
	width: 240px;
    height: 240px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 40px;
    overflow: hidden;
    text-align: center;
    background: #e04747;
    border-radius: 50%;
    -webkit-transition: all .1s ease;
}

.round-button-container:hover{
	-webkit-transition: all .1s ease;
	background: #e06363;
}

.round-button{
	width: 230px;
    height: 230px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 5px;
    border: 2.5px solid;
    border-color: #f2faff;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    background: #393b3c;
    -webkit-transition: all .1s ease;
}

.round-button a{
	padding-top: 55px;
	display: block;
	height: 100%;
	width: 100%;
	font-weight: 200;
	font-size: 42pt;
	line-height: 42pt;
	color: #f2faff;
	-webkit-transition: all .1s ease;
}

.round-button:hover{
	background: #303132;
	-webkit-transition: all .1s ease;
}

/* Red Divider */

.red-divider{
	background: #e04747;
	width: 100%;
	height: 5px;
	position: relative;
	top: 30px;
	bottom: 20px;
}

/* Category List */

.category-container{
	width: 100%;
	position: relative;
	top: 60px;
}

.category-container ul{
	padding-left: 0px;
	list-style-type: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 18pt;
	line-height: 35pt;
}

/* Bottom Text */

.bottom{
	position: relative;
	top: 60px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	text-align: center;
	width: 100%;
}

.bottom p{
	margin-top: 20px;
	margin-bottom: -5px;
}

.bottom a{
	font-size: 20pt;
}
/* 

.bottom a:hover{
	color: #e06363;
}
 */





